<div th:fragment="contenido">
    <section class="bg-white p-6 rounded-xl shadow-xl">
        <div class="flex flex-col sm:flex-row justify-between items-center mb-6">
            <h2 class="text-2xl font-semibold text-gray-800 mb-4 sm:mb-0">Gestión de Proveedores</h2>
            <a th:href="@{/proveedor/crear}" class="btn-primary">
                <i class="fas fa-plus mr-2"></i>Nuevo Proveedor
            </a>
        </div>
        <div class="overflow-x-auto">
            <table class="min-w-full divide-y divide-gray-200 text-center">
                <thead class="bg-gray-100">
                <tr>
                    <th class="px-4 py-2">Nombre</th>
                    <th class="px-4 py-2">Correo</th>
                    <th class="px-4 py-2">Fecha Alta</th>
                    <th class="px-4 py-2">Fecha Baja</th>
                    <th class="px-4 py-2">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="proveedor : ${listaProveedores}"
                    th:classappend="${proveedor.fechaBaja != null} ? 'bg-gray-100 pointer-events-none opacity-50' : ''"
                    class="text-center transition-colors">
                    <td th:text="${proveedor.nombreProveedor}" class="px-4 py-2"></td>
                    <td th:text="${proveedor.mailProveedor}" class="px-4 py-2"></td>
                    <td th:text="${proveedor.fechaAlta}" class="px-4 py-2"></td>
                    <td th:text="${proveedor.fechaBaja}" class="px-4 py-2"></td>
                    <td class="px-4 py-2">
                        <a th:href="@{/proveedor/{id}/modificar(id=${proveedor.id})}" class="action-icon action-icon-edit">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="#"
                           th:attr="data-id=${proveedor.id}, data-path='proveedor'"
                           onclick="abrirModal(this, event)"
                           class="action-icon action-icon-delete">
                            <i class="fas fa-trash"></i>
                        </a>
                        <a th:href="@{/proveedor/{id}/articulos(id=${proveedor.id})}" class="action-icon action-icon-details">
                            <i class="fas fa-boxes-stacked fa-fw"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>

