<div th:fragment="contenido">
    <section class="bg-white p-6 rounded-xl shadow-xl">
        <div class="flex flex-col sm:flex-row justify-between items-center mb-6">
            <h2 class="text-2xl font-semibold text-gray-800 mb-4 sm:mb-0" th:text="'Listado artículos proveedor: ' + ${proveedor.nombreProveedor}"></h2>
            <a th:href="@{/proveedor/listado}" class="btn-primary">
                <i class="fas fa-arrow-left mr-2"></i>Volver
            </a>
        </div>
        <div class="overflow-x-auto">
            <table class="min-w-full divide-y divide-gray-200 text-center">
                <thead class="bg-gray-100">
                <tr>
                    <th class="px-4 py-2">Artículo</th>
                    <th class="px-4 py-2">Precio</th>
                    <th class="px-4 py-2">Demora</th>
                    <th class="px-4 py-2">Cargo Pedido</th>
                    <th class="px-4 py-2">Predeterminado</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="articuloProveedor : ${articulosProveedor}">
                    <td th:text="${articuloProveedor.articulo.nombreArticulo}"></td>
                    <td th:text="${articuloProveedor.precioArticulo}"></td>
                    <td th:text="${articuloProveedor.demoraEntrega}"></td>
                    <td th:text="${articuloProveedor.cargoPedido}"></td>
                    <td>
                        <span th:text="${articuloProveedor.proveedor.id == articuloProveedor.articulo.proveedorPredeterminado.id} ? 'Sí' : 'No'"
                              th:classappend="${articuloProveedor.proveedor.id == articuloProveedor.articulo.proveedorPredeterminado.id} ? 'text-green-600 font-bold' : 'text-gray-500'"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
